---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This resource allows you to create and manage GitHub Actions variables within your GitHub repository environments. You must have write access to a repository to use this resource.

## Example Usage

{{tffile "examples/resources/github_actions_environment_variable/example_1.tf"}}

{{tffile "examples/resources/github_actions_environment_variable/example_2.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

This resource can be imported using an ID made up of the repository name, environment name, and variable name:

```shell
terraform import github_actions_environment_variable.test_variable myrepo:myenv:myvariable
```
