---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This resource manages mappings between external groups for enterprise managed users and GitHub teams. It wraps the API detailed [here](https://docs.github.com/en/rest/reference/teams#external-groups). Note that this is a distinct resource from `github_team_sync_group_mapping`. `github_emu_group_mapping` is special to the Enterprise Managed User (EMU) external group feature, whereas `github_team_sync_group_mapping` is specific to Identity Provider Groups.

## Example Usage

{{tffile "examples/resources/github_emu_group_mapping/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

GitHub EMU External Group Mappings can be imported using the external `group_id`, e.g.

```shell
terraform import github_emu_group_mapping.example_emu_group_mapping 28836
```
