---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

Provides a GitHub issue label resource.

This resource allows you to create and manage issue labels within your GitHub organization.

Issue labels are keyed off of their "name", so pre-existing issue labels result in a 422 HTTP error if they exist outside of Terraform. Normally this would not be an issue, except new repositories are created with a "default" set of labels, and those labels easily conflict with custom ones.

This resource will first check if the label exists, and then issue an update, otherwise it will create.

## Example Usage

{{tffile "examples/resources/github_issue_label/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

GitHub Issue Labels can be imported using an ID made up of `repository:name`, e.g.

```shell
terraform import github_issue_label.panic_label terraform:panic
```
