---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This resource allows you to create and manage blocks for GitHub organizations.

## Example Usage

{{tffile "examples/resources/github_organization_block/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

GitHub organization block can be imported using a username, e.g.

```shell
terraform import github_github_organization_block.example someuser
```
