---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

## Example Usage

{{tffile "examples/resources/github_organization_security_manager/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

GitHub Security Manager Teams can be imported using the GitHub team ID e.g.

```shell
terraform import github_organization_security_manager.core 1234567
```
