---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This resource allows you to create and manage settings for a GitHub Organization.

## Example Usage

{{tffile "examples/resources/github_organization_settings/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Organization settings can be imported using the `id` of the organization. The `id` of the organization can be found using the [get an organization](https://docs.github.com/en/rest/orgs/orgs#get-an-organization) API.

```shell
terraform import github_organization_settings.test 123456789
```
