---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

Provides a GitHub repository collaborator resource.

~> Note: github_repository_collaborator cannot be used in conjunction with github_repository_collaborators or they will fight over what your policy should be.

This resource allows you to add/remove collaborators from repositories in your organization or personal account. For organization repositories, collaborators can have explicit (and differing levels of) read, write, or administrator access to specific repositories, without giving the user full organization membership. For personal repositories, collaborators can only be granted write (implicitly includes read) permission.

When applied, an invitation will be sent to the user to become a collaborator on a repository. When destroyed, either the invitation will be cancelled or the collaborator will be removed from the repository.

This resource is non-authoritative, for managing ALL collaborators of a repo, use github_repository_collaborators instead.

Further documentation on GitHub collaborators:

- [Adding outside collaborators to your personal repositories](https://help.github.com/en/github/setting-up-and-managing-your-github-user-account/managing-access-to-your-personal-repositories)
- [Adding outside collaborators to repositories in your organization](https://help.github.com/articles/adding-outside-collaborators-to-repositories-in-your-organization/)
- [Converting an organization member to an outside collaborator](https://help.github.com/articles/converting-an-organization-member-to-an-outside-collaborator/)

## Example Usage

{{tffile "examples/resources/github_repository_collaborator/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

GitHub Repository Collaborators can be imported using an ID made up of `repository:username`, e.g.

```shell
terraform import github_repository_collaborator.collaborator terraform:someuser
```
