---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This resource allows you to create and manage deployment branch policies.

## Example Usage

{{tffile "examples/resources/github_repository_deployment_branch_policy/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

```shell
terraform import github_repository_deployment_branch_policy.foo repo:env:id
```
