---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This resource allows you to create and manage environments for a GitHub repository.

## Example Usage

{{tffile "examples/resources/github_repository_environment/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

GitHub Repository Environment can be imported using an ID made up of `name` of the repository combined with the `environment` name of the environment, separated by a `:` character, e.g.

```shell
terraform import github_repository_environment.daily terraform:daily
```
