---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This resource allows you to create and manage an autolink reference for a single repository.

## Example Usage

{{tffile "examples/resources/github_repository_autolink_reference/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Autolink references can be imported using the `name` of the repository, combined with the `id` or `key prefix` of the autolink reference and a `/` character for separating components, e.g.

### Import by ID

```sh
terraform import github_repository_autolink_reference.auto my-repo/123
```

See the GitHub documentation for how to [list all autolinks of a repository](https://docs.github.com/en/rest/repos/autolinks#list-all-autolinks-of-a-repository) to learn the autolink ids to use with the import command.

### Import by key prefix

```shell
terraform import github_repository_autolink_reference.auto oof/OOF-
```
