---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This resource allows you to create and manage Identity Provider (IdP) group connections within your GitHub teams. You must have team synchronization enabled for organizations owned by enterprise accounts.

To learn more about team synchronization between IdPs and GitHub, please refer to: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/synchronizing-teams-between-your-identity-provider-and-github

## Example Usage

{{tffile "examples/resources/github_team_sync_group_mapping/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

GitHub Team Sync Group Mappings can be imported using the GitHub team `slug` e.g.

```shell
terraform import github_team_sync_group_mapping.example some_team
```
