---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This data source allows you to read files within a GitHub repository.

## Example Usage

{{tffile "examples/data-sources/github_repository_file/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
