---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

Use this data source to retrieve the list of teams which have access to a GitHub repository.

## Example Usage

{{tffile "examples/data-sources/github_repository_teams/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
