---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

Use this data source to retrieve information about a GitHub team.

## Example Usage

{{tffile "examples/data-sources/github_team/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
